body, html {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

p.survey_item>* {
    vertical-align: middle;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre.game-description {
    width: auto;
    white-space: pre-line;
    max-width: 700px;
}

div.preview-video {
    width: 560px;
}

table.game-sub-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    border-top: 1px white inset;
    padding-top: 10px;

    color: white;
}

div.background-image {
    /* The image used */
    background-image: url("https://cf.geekdo-images.com/original/img/iQDBaRJ2LxJba_M7gPZj24eHwBc=/0x0/pic2648303.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.background-content {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 2px dashed #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: system-ui, monospace, cursive;
    max-width: 700px;
}

a.bgg-link {
    color: white;
    font-weight: 500;
    text-decoration-line: none;
}

div#survey-results-content > ul {
    list-style: none;
    margin-bottom: 10px;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
  
    width: 250px;
    height: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, rgb(61, 61, 61));
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value].leader::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, rgb(24, 197, 8), rgb(61, 61, 61));
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress.leader {
    background-color: rgb(70, 218, 70);
}

div.survey-result-item {
    display: inline-flex;
}

div#survey-results-content > ul > li > div > label {
    margin: 12px;
    font-size: larger;
    font-family: monospace;
}

div#survey-results-content > ul > li > div > label > a {
    text-decoration: none;
    color: black;
}